.menu a:nth-child(1) { color: #59C21C; }
.menu a:nth-child(2) { color: #3DE38B; }
.menu a:nth-child(3) { color: #E3A93D; }
.menu a:nth-child(4) { color: #8E7A56; }
.menu a:nth-child(5) { color: #F922C3; }
.menu a:nth-child(6) { color: #4D6357; }
.menu a:nth-child(7) { color: #6BCDA0; }
.menu a:nth-child(8) { color: #555DB9; }
.menu a:nth-child(9) { color: #938F0B; }
.menu a:nth-child(10){ color: #510D0B; }


body.azulejo main.galeria {
  padding: 20px;
  margin-left: 170px;
  margin-bottom: 80px;
}

body.azulejo .grid-galeria {
  column-count: 4;
  column-gap: 0;
}

body.azulejo .item {
  break-inside: avoid;
  margin-bottom: 0;
}

body.azulejo .item img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 1200px) {
  body.azulejo .grid-galeria { column-count: 3; }
}

@media (max-width: 900px) {
  body.azulejo .grid-galeria { column-count: 2; }
}

@media (max-width: 600px) {
  body.azulejo .grid-galeria { column-count: 1; }
}