.menu a:nth-child(1) { color: #A63DE3; }
.menu a:nth-child(2) { color: #3DE38B; }
.menu a:nth-child(3) { color: #1C56C2; }
.menu a:nth-child(4) { color: #8E7A56; }
.menu a:nth-child(5) { color: #F922C3; }
.menu a:nth-child(6) { color: #4D6357; }
.menu a:nth-child(7) { color: #6BCDA0; }
.menu a:nth-child(8) { color: #555DB9; }
.menu a:nth-child(9) { color: #938F0B; }
.menu a:nth-child(10) { color: #510D0B; }


.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background: #050505;
    padding: 20px;
    border: none;
}

.item img {
    width: 920px;
    max-width: 100%;
    height: auto;
}