.menu a:nth-child(1) { color: #A63DE3; }
.menu a:nth-child(2) { color: #3DE38B; }
.menu a:nth-child(3) { color: #E3A93D; }
.menu a:nth-child(4) { color: #8E7A56; }
.menu a:nth-child(5) { color: #F922C3; }
.menu a:nth-child(6) { color: #4D6357; }
.menu a:nth-child(7) { color: #6BCDA0; }
.menu a:nth-child(8) { color: #555DB9; }
.menu a:nth-child(9) { color: #938F0B; }
.menu a:nth-child(10){ color: #510D0B; }

.right-gif {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 220px;
  object-fit: cover;
  z-index: 10;
}
  
body.inicio main.gif-centro img {
  width: 260px;
  max-width: 80%;
  max-width: 60vw;
  max-height: 60vh;
}


  body.inicio main.gif-centro {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}