html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  nav.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 170px;
    height: 100vh;
  }
  
  .wrapper {
    flex: 1;
    margin-left: 170px;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  
  footer {
    position: relative;
    padding: 15px 0;
    font-size: 0.8em;
    color: #888;
    display: flex;
    justify-content: center;
    gap: 34px;
  }
  
  footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 90px;
    right: 25px;
    height: 1px;
    background: #444;
    z-index: 1; 
  }
  
  
  main.galeria {
    padding: 20px;
  }
  
  .grid-galeria {
    column-count: 4;
    column-gap: 0;
  }
  
  .item {
    break-inside: avoid;
  }
  
  .item img {
    width: 100%;
    height: auto;
    display: block;
  }  