.menu a:nth-child(1) { color: #A63DE3; }
.menu a:nth-child(2) { color: #3DE38B; }
.menu a:nth-child(3) { color: #E3A93D; }
.menu a:nth-child(4) { color: #8E7A56; }
.menu a:nth-child(5) { color: #F922C3; }
.menu a:nth-child(6) { color: #4D6357; }
.menu a:nth-child(7) { color: #94325F; }
.menu a:nth-child(8) { color: #555DB9; }
.menu a:nth-child(9) { color: #938F0B; }
.menu a:nth-child(10) { color: #510D0B; }


main.galeria {
    padding-bottom: 100px;
  }

  .file-list {
    margin-top: 120px;
  }
  
  .file-list table {
    margin: 0 auto;
  }


  .file-list th,
.file-list td {
  padding: 42px 36px;
}